<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="footer_blog">
        <div class="row">
          <div class="col-md-3">
            <div class="main-heading left_text">
              <h2>ukypcomputer</h2>
            </div>
            <p data-key="predlagayet">Ukypcomputer предлагает вам свои высококачественные услуги в любой сфере техники и ИТ</p>
          </div>
          <div class="col-md-3">
            <div class="main-heading left_text">
              <h2 data-key="dopol">Дополнительно</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="/<%- lang %>/about-us" data-key="about-us"><i class="fa fa-angle-right"></i> О нас</a></li>
              <li><a href="/<%- lang %>/contact" data-key="contact"><i class="fa fa-angle-right"></i> Контакты</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="main-heading left_text">
              <h2 data-key="services">Услуги</h2>
            </div>
            <ul class="footer-menu">
              <% for(let i=0; i < services.length; i++) {%>
                <li><a href="/<%- lang %>/services/<%- services[i].id %>"><i class="fa fa-angle-right"></i> <%- services[i].service_name %></a></li>
                <% } %>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="main-heading left_text">
              <h2 data-key="contact">Контакты</h2>
            </div>
            <p data-key="gorod">Ашгабад г.</p>
            <p data-key="adres">Ашгабад г.</p>
              <p><span style="font-size:18px;"><a href="tel:+99362912944"style="font-size:22px;">+99362912944</a></span>
              <span style="font-size:18px;"><a href="tel:+99364027628"style="font-size:22px;">+99364027628</a></span></p>
            </p>
          </div>
        </div>
      </div>
      <div class="cprt">
        <p data-key="prava">Все права защищены "Ukypcomputer"</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->