<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="full">
              <div class="topbar-left">
                <ul class="list-inline">
                  <li> <span class="topbar-label">
                    <p style="color:white;"><a style="text-decoration:none;color:white;" href="tel:+99362912944">+99362912944</a></p>
                  </li>
                  <li>
                    <p  style="color:white;"><a style="text-decoration:none;color:white;" href="tel:+99364027628">+99364027628</a></p>
                  </li>
                  <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:ukypcomputer@mail.ru">ukypcomputer@mail.ru</a></span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 right_section_header_top">
          
            <div class="float-right d-flex flex-row justify-content-center align-center">
              <div class="d-flex align-center">
                <a onclick="langswitch('ru')" style="text-decoration:none;cursor: pointer;"><p class="mylangstyle">RU</p></a>
              </div>
              <div class="d-flex align-center">
                <a onclick="langswitch('tm')" style="text-decoration:none;cursor: pointer;"><p class="mylangstyle">TM</p></a>
            </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!-- logo start -->
            <div class="logo"> <a href="/<%- lang %>/"><img src="/../images/logos/it_logo.png" alt="logo" /></a> </div>
            <!-- logo end -->
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- menu start -->
            <div class="menu_side">
              <div id="navbar_menu">
                <ul class="first-ul">
                  <li> <a href="/<%- lang %>/" data-key="home">Главная</a>
                  </li>
                  <li><a href="/<%- lang %>/about-us" data-key="about-us">О нас</a></li>
                  <li> <a href="/<%- lang %>/services" data-key="services">Услуги</a>
                    <ul>
                      <% for(let i=0; i < services.length; i++) {%>
                        <li><a href="/<%- lang %>/services/<%- services[i].id %>"><%- services[i].service_name %></a></li>
                        <% } %>
                    </ul>
                  </li>
                  <li> <a href="/<%- lang %>/blog" data-key="our-blog">Наш блог</a></li>
       
                  <li> <a href="/<%- lang %>/contact" data-key="contact">контакты</a><li>
                 
              
                </ul>
              </div>
            </div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
    <!-- header bottom end -->
  </header>
