<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>
<body>
  <div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/admin">
            Ukyp Admin
          </a>
          <a class="navbar-brand brand-logo-mini" style="font-size:20px;" href="/admin">
            U/A
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top justify-content-end"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text"><span class="text-black fw-bold">Admin page</span></h1>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <%- include('../partials/nav') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">

                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 

                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Maglumatlary dolduryn</h4>
                                <form class="forms-sample" action="/api/createpost" method="POST" id="form" enctype="multipart/form-data">
                 
                                  <div class="form-group mb-1">
                                    <label for="titletm">Post Title (TM)</label>
                                    <input type="text" name="titletm" class="form-control" id="titletm" placeholder="Title" required>
                                  </div>
                                  <div class="form-group mb-1">
                                    <label for="extm">Excerpt (TM)</label>
                                    <input type="text" name="extm" class="form-control" id="extm" placeholder="Excerpt" required>
                                  </div>
                                  <div class="form-group mb-1">
                                    <label for="desctm">Post desc (TM)</label>
                                    <textarea type="text" name="desctm" class="form-control" id="desctm" placeholder="Desc" style="height: 200px;" required></textarea>
                                  </div>
                                  <div class="form-group mb-1">
                                    <label for="titletm">Surat</label>
                                    <input type="file" name="mypic" class="form-control" id="mypic" placeholder="Surat" required>
                                  </div>
                              </div>
                            </div>
                          </div>
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Maglumatlary dolduryn</h4>
                                  <div class="form-group mb-1">
                                    <label for="titleru">Post Title (RU)</label>
                                    <input type="text" name="titleru" class="form-control" id="titleru" placeholder="Title" required>
                                  </div>
                                  <div class="form-group mb-1">
                                    <label for="exru">Excerpt (RU)</label>
                                    <input type="text" name="exru" class="form-control" id="exru" placeholder="Excerpt" required>
                                  </div>
                                  <div class="form-group mb-1">
                                    <label for="descru">Post desc (RU)</label>
                                    <textarea type="text" name="descru" class="form-control" id="descru" placeholder="Desc" style="height: 200px;" required></textarea>
                                  </div>
                                      <div class="form-group">
                                        <label class="col-sm-3 col-form-label mb-0">Category</label>
                                        <div class="col-sm-9 mt-0">
                                          <select class="form-control" name="category" id="category" required>
                                            <% for (let i = 0; i < categories.length; i++) { %>
                                            <option value="<%= categories[i].category_slug %>"><%= categories[i].category %></option>
                                            <% } %>
                                          </select>
                                        </div>
                                      </div>
                                      <div id="error" class="alert alert-danger" style="display: none;">Error</div>
                                <div id="success" class="alert alert-success" style="display: none;">Success</div>
                                  <button type="submit" class="btn btn-primary me-2 text-white" id="submit">Submit</button>                   
                                </form>
                              </div>
                            </div>
                          </div>
                         
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <%- include('../partials/js') %>

</body>

</html>

