<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<%- include('partials/header') %>
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title" data-key="about-us">О нас</h1>
              <ol class="breadcrumb">
                <li><a href="/" data-key="home">Главная</a></li>
                <li class="active" data-key="about-us">О нас</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2 data-key="my_vedushaya">Мы ведущая компания в своей сфере</h2>
            <p class="large" data-key="net_bezvyhodnyh">Нет безвыходных ситуации мы поможем</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row about_blog">
      <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
          <h3 data-key="chem_zanimayemsya">Чем мы занимаемся?</h3>
          <p data-key="my_delayem">Мы делаем высококачественный ремонт ноутбуков, персональных компьютеров, принтеров и различных орг. техник, устанавливаем сервера, делаем ремонт
            производственных узлов и занимаемся их автоматизацией......
          </p>
          <ul>
            <div style="display:flex"><i class="fa fa-check-circle mt-2 mr-2"></i><li data-key="unasyest">У нас существуют различные акции и скидки для постоянных клиентов</li></div>
            <div style="display:flex"><i class="fa fa-check-circle mt-2 mr-2"></i><li data-key="garanti_uslugi">Гарантированные услуги</li></div>
            <div style="display:flex"><i class="fa fa-check-circle mt-2 mr-2"></i><li data-key="vyezdnadom">Выезд на дом</li></div>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
        <div class="full text_align_center"> <img class="img-responsive" src="/images/it_service/post-06.jpg" alt="#" /> </div>
      </div>
    </div>
    
  </div>
</div>
<!-- end section -->

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2 data-key="opytnyesot">Опытные соотрудники</h2>
            <p class="large" data-key="bolee15">Более 15 лет наши соотрудники решают самые не решаемые вопросы</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<div class="section" style="margin-bottom:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="contact_us_section">
            <div class="call_icon"> <img src="/images/it_service/phone_icon.png" alt="#" /> </div>
            <div class="inner_cont">
              <h2 data-key="free_sowet">Бесплатные советы от нас</h2>
              <p data-key="yest_problem">Если у вас возникли проблемы с вашими устройствами берите бесплатную консултацию</p>
            </div>
            <div class="button_Section_cont"> <a class="btn dark_gray_bt" data-key="contact" href="/contact">Контакты</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->

<%- include('partials/footer') %>
<%- include('partials/js') %>

</body>
</html>
