<!DOCTYPE html>
<html lang="en">
<%- include('partials/detail_head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="/../images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<%- include('partials/detail_header') %>
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title" data-key="temabloga">Тема Блога</h1>
              <ol class="breadcrumb">
                <li><a href="/" data-key="home">Главная</a></li>
                <li class="active" data-key="temabloga">Тема блога</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 blog_grid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
        <div class="full">
          <div class="blog_section margin_bottom_0">
            <div class="blog_feature_img"> <img class="img-responsive" src="/../uploads/posts/<%- post[0].post_img %>" alt="#"> </div>
            <div class="blog_feature_cantant">
              <p class="blog_head"><%- post[0].title %></p>
              <div class="post_info">
                <ul>
                  <li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
                  <li><i class="fa fa-comment" aria-hidden="true"></i><%- post[0].comment_count %></li>
                  <li><i class="fa fa-calendar" aria-hidden="true"></i><%- post[0].createdAt %></li>
                </ul>
              </div>
              <p><%- post[0].description %></p>
            </div>

            <div class="view_commant">
              <h4 data-key="comment">Комментарии</h4>
              <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                  <div class="full">

                    <% for(let i=0; i < comments.length; i++) {%>
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="full"> <img class="img-responsive" style="max-width:100px" 
                          src="/../images/it_service/client3.png" alt="#"> </div>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                        <div class="full command_cont margin_bottom_0">
                          <p class="comm_head"><%- comments[i].firstname %> <%- comments[i].lastname %> <span><%- comments[i].createdAt %></span></p>
                          <p><%- comments[i].comment_text %></p>
                        </div>
                      </div>
                    </div>
                    <% } %>

                  </div>
                </div>
              </div>
            </div>
            <div class="post_commt_form mb-5">
              <h4 data-key="napisikom">НАПИШИ КОММЕНТАРИИ</h4>
              <div class="form_section">
                <form class="form_contant" id="form" onsubmit="return false;">
                  <fieldset class="row">
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Эл. адрес"  type="email" name="email" id="email" required>
                  </div>
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Имя" type="text"  name="firstname" id="firstname" required>
                  </div>
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Фамилия" type="text"  name="lastname" id="lastname" required>
                  </div>
                  <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea class="field_custom" placeholder="Комментарий" name="content" id="content" required></textarea>
                  </div>
                  <input type="hidden" value="<%- post[0].id %>" name="secret" id="secret">
                  <div id="error" class="alert alert-danger" style="display: none;">Error</div>
                  <div id="success" class="alert alert-success" style="display: none;">Success</div>
                  <div class="center">
                    <button class="btn main_bt" type="submit" data-key="otprav">ОТПРАВЬ</button>
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left">
        <div class="side_bar_blog">
          <h4 data-key="categories">КАТЕГОРИИ</h4>
          <div class="categary">
            <ul>
                <% for(let i=0; i < categories.length; i++) {%>
              <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><i class="fa fa-caret-right"></i><%- categories[i].category %></a></li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end section -->
<%- include('partials/detail_footer') %>
<%- include('partials/detail_js') %>
<script src="/../js/comment.js"></script>
</body>
</html>
