<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<%- include('partials/header') %>
<!-- section -->
<div id="slider" class="section main_slider">
  <div class="container-fuild">
    <div class="row">
      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
          <ul>
            <% for(let i=0; i < banners.length; i++) { %>
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="/uploads/banners/<%- banners[i].img_name %>"  data-rotate="0"  data-saveperformance="off"  data-title="<%- banners[i].head_text %>" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/uploads/banners/<%- banners[i].img_name %>"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. BG -->
              <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-1012" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-912" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-112" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1000" 
                              data-splitin="chars" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              data-elementdelay="0.05" 
                              style="z-index: 6; white-space: nowrap;"><%- banners[i].head_text %> </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-412" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7; white-space: nowrap;"><%- banners[i].desc_text %></div>
            </li>
            <% } %>


          </ul>
          <div class="tp-static-layers"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section -->
<div class="section">
  <div class="container text-monospace">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center" >
            <h2 data-key="pocemu_my">Почему вы должны выбрать нас</h2>
            <p class="large" data-key="fast_remont">Быстрый ремонт и лучшая цена</p>
          </div>
        </div>
      </div>
    </div>
   
    </div>
  
  </div>

  <!--end section-->
<!-- carousel service list -->
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="featured-carousel owl-carousel">
          <% for(let i=0; i < services.length; i++) {%>
          <div class="item" style="box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.3); margin-bottom: 35px">
            <div class="blog-entry">
              <a href="/<%- lang %>/services/<%= services[i].id %>" class="block-20 d-flex align-items-start" style="background-image: url('/uploads/services/<%= services[i].service_pic %>');">
              </a>
              <div class="text border border-top-0 p-4">
                <h3 class="heading"><a href="#"><%= services[i].service_name %></a></h3>
                <div class="d-flex align-items-center mt-4">
                  <p class="mb-0"><a href="/<%- lang %>/services/<%- services[i].id %>" class="btn btn-primary" data-key="podrobnee">Перейти <span class="ion-ios-arrow-round-forward"></span></a></p> 
                </div> 
              </div>
            </div>
          </div>
          <% }%>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end carousel service list -->
<!--konsultasiya-->
<div class="section" style="margin-bottom:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="contact_us_section">
            <div class="call_icon"> <img src="/images/it_service/phone_icon.png" alt="#" /> </div>
            <div class="inner_cont">
              <h2 data-key="free_sowet">Бесплатные советы от нас</h2>
              <p data-key="yest_problem">Если у вас возникли проблемы с вашими устройствами берите бесплатную консултацию</p>
            </div>
            <div class="button_Section_cont"> <a class="btn dark_gray_bt" data-key="contact" href="/contact">Контакты</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end konsultasiya-->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2 data-key="about_serwis">О Сервисе</h2>
            <p class="large" data-key="remont_ustr">Легко и эффективно почините устройства</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div class="icon text_align_left"><i class="fa fa-wrench"></i></div>
                <h4 class="service-heading" data-key="doverennye_uslugi">Доверенные Услуги</h4>
                <p data-key="garantiya100">Гарантия на 100%</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div class="icon text_align_left"><i class="fa fa-cog"></i></div>
                <h4 class="service-heading" data-key="best_price">Лучшая цена и акции</h4>
                <p data-key="nash_serwis">Наш сервис предлагает различные акции</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div class="icon text_align_left"><i class="fa fa-history"></i></div>
                <h4 class="service-heading" data-key="professional_team">Профессиональная команда</h4>
                <p data-key="our_team">Наши соотрудники работают профессионально и в самых коротких сроках с выездом домой</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div class="icon text_align_left"><i class="fa fa-heart-o"></i></div>
                <h4 class="service-heading" data-key="dostupnye_serwis">Доступные услуги</h4>
                <p data-key="my_reshaem">Мы решаем самые сложные вопросы</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->



<%- include('partials/footer') %>
<%- include('partials/js') %>
</body>
</html>

